@font-face {
  font-family: "Code2001";
  src: url(./fonts/CODE2001.ttf);
}

@font-face {
  font-family: "Symbola-13";
  src: url(./fonts/Symbola-13.otf);
}

@font-face {
  font-family: "Arial Unicode MS";
  src: url(./fonts/Arial-UnicodeMS.ttf);
}

@font-face {
  font-family: "Segoe UI Symbol";
  src: url(./fonts/Segoe\ UI\ Symbol.ttf);
}


body {
  overflow: hidden;
  background-color: #000000;
}

#bg_img {
  font-family: "Code2001", "Symbola-13", "Arial Unicode MS", "Segoe UI Symbol",
    sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 65px;
  position: fixed;
  margin-top: -24px;
  margin-left: -5px;
  width: 110%;
}
